*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F6F6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #AAAAAA;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.display{
    height: 100px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    align-self: center;
    background-color: #F6F6F6;
    font-size: 42px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.clearDelete > button{
    padding: 10px 30px;
}

#clear{
    background-color: #faa1a1;
}

#delete{
    background-color: #a4a4ff;
}

.clearDelete{
    display: flex;
    gap: 10px;
}

button{
    font-size: 42px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: repeat(4 , 1fr);
    gap: 10px;
}