*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F6F6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display{
    height: 100px;
    width: 100%;
    border: 2px solid black;
    align-self: center;
}

.clearDelete > button{
    padding: 10px 30px;
}

.clearDelete{
    display: flex;
    gap: 10px;
}